* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container-formulario {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3da6cf;
  column-gap: 30px;
}

.formulario-loguear {
  position: absolute;
  max-width: 430px;
  width: 100%;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #232836;
}

.formulario-contenido {
  margin-top: 30px;
}
