*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  texto-decoration: none;
}

/**********************************/
/*  Variables
/**********************************/

:root {
  --white: #ffffff;
  --black: #000000;
  --red: #f65351;
  --blue: #0a317b;
  --very-light-grayish-blue: #f7fafd;
  --light-grayish-blue-01: #e5effa;
  --light-grayish-blue-02: #dde7ee;
  --grayish-blue: #939dae;
  --dark-grayish-blue: #5e6778;
  --very-dark-blue: #1c202b;

  --primary-font: "Plus Jakarta Sans", sans-serif;
}

/**********************************/
/*  General-Config
/**********************************/

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: var(--primary-font);
  font-size: 0.8rem;
  font-weight: 500;
}

body {
  background: var(--very-light-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

/**********************************/
/*  Main
/**********************************/

.main-block {
  max-width: 455px;
  background: var(--white);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.025);
  padding: 25px 18px 10px;
  display: grid;
  align-content: space-between;
  gap: 6px;
}

/**********************************/
/* Header
/**********************************/

.block-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}

.block-header__notificaciones {
  display: flex;
  align-items: center;
}

.block-header__notificaciones-texto {
  font-size: 1.2rem;
  font-weight: 800;
  margin-right: 5px;
}

.block-header__notificaciones-numero {
  width: 20px;
  height: 16px;
  border-radius: 3px;
  background: var(--blue);
  color: var(--white);
  font-weight: 500;
  display: inline-flex;
  font-size: 0.7rem;
  justify-content: center;
  align-items: center;
}

.block-header__marcar-todo {
  color: var(--dark-grayish-blue);
  align-self: center;
  cursor: pointer;
}

/**********************************/
/*  Notificatificaciones
/**********************************/

.block-notificaciones__tipo01 {
  padding: 0.85rem;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  flex-wrap: nowrap;
  align-items: center;
}

.block-notificaciones__tipo01:nth-child(5) {
  padding: 0.85rem;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  flex-wrap: wrap;
  align-items: center;
}

.block-notificaticaciones--no-leido {
  background: var(--light-grayish-blue-01);
}

.block-notificaticaciones--leido {
  background: none;
}

.block-notifications__type02-c {
  margin-top: 0.8rem;
  padding-left: 2.8rem;
}

.block-notifications__type02 {
  color: var(--dark-grayish-blue);
  max-width: 350px;
  height: auto;
  padding: 0.85rem;
  border-radius: 3px;
  border: 0.5px solid var(--light-grayish-blue-02);
  margin-bottom: 10px;
}

.block-notifications__type02:hover {
  background: var(--light-grayish-blue-01);
  border: 0.5px solid var(--light-grayish-blue-01);
}

/**********************************/
/*  User-configs
/**********************************/

.usar-img-01 {
  min-width: 2.063rem;
  min-height: 2.063rem;
  background-image: url("/assets/imagenes/notificaciones-paginas/avatar-mark-webber.webp");
  background-size: contain;
  margin-right: 0.75rem;
  background-repeat: no-repeat;
  background-position: center center;
}

.usar-img-02 {
  min-width: 2.063rem;
  min-height: 2.063rem;
  background-image: url("/assets/imagenes/notificaciones-paginas/avatar-angela-gray.webp");
  background-size: contain;
  margin-right: 0.75rem;
  background-repeat: no-repeat;
  background-position: center center;
}

.usar-img-03 {
  min-width: 2.063rem;
  min-height: 2.063rem;
  background-image: url("/assets/imagenes/notificaciones-paginas/avatar-jacob-thompson.webp");
  background-size: contain;
  margin-right: 0.75rem;
  background-repeat: no-repeat;
  background-position: center center;
}

.usar-img-04 {
  min-width: 2.063rem;
  min-height: 2.063rem;
  background-image: url("/assets/imagenes/notificaciones-paginas/avatar-rizky-hasanuddin.webp");
  background-size: contain;
  margin-right: 0.75rem;
  background-repeat: no-repeat;
  background-position: center center;
}

.usar-img-05 {
  min-width: 2.063rem;
  min-height: 2.063rem;
  background-image: url("/assets/imagenes/notificaciones-paginas/avatar-kimberly-smith.webp");
  background-size: contain;
  margin-right: 0.75rem;
  background-repeat: no-repeat;
  background-position: center center;
}

.usar-img-06 {
  min-width: 2.063rem;
  min-height: 2.063rem;
  background-image: url("/assets/imagenes/notificaciones-paginas/avatar-nathan-peterson.webp");
  background-size: contain;
  margin-right: 0.75rem;
  background-repeat: no-repeat;
  background-position: center center;
}

.usar-img-07 {
  min-width: 2.063rem;
  min-height: 2.063rem;
  background-image: url("/assets/imagenes/notificaciones-paginas/avatar-anna-kim.webp");
  background-size: contain;
  margin-right: 0.75rem;
  background-repeat: no-repeat;
  background-position: center center;
}

.usar-img-08 {
  width: 2.063rem;
  height: 2.063rem;
  background-image: url("/assets/imagenes/notificaciones-paginas/image-chess.webp");
  background-size: contain;
  background-position: right;
  flex-grow: 2;
  background-repeat: no-repeat;
  margin-right: 15px;
}

.usar-name {
  font-weight: 800;
  margin-right: 0.313rem;
}

.usar-action {
  color: var(--dark-grayish-blue);
  margin-right: 0.313rem;
}

.red-mark {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--red);
  margin-left: 0.2rem;
}

.usar-post,
.usar-group {
  font-weight: 800;
  color: var(--dark-grayish-blue);
}

.usar-date {
  color: var(--grayish-blue);
}

.usar-name:hover,
.usar-post:hover,
.usar-group:hover,
.block-header__marcar-todo:hover {
  color: var(--blue);
}

@media screen and (max-width: 450px) {
  body {
    align-items: flex-start;
    background: var(--white);
  }

  .main-block {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
}
