@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Outfit:wght@700&family=PT+Sans&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Outfit:wght@700&family=PT+Sans&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: hsl(231, 7%, 60%);
  font-size: 1rem;
  font-weight: 400;
}
.container {
  background: #fff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: hsl(0, 0%, 100%);
}

.flex-container-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.flex-container-ariculo1 {
  width: 100%;
  padding: 2rem 4rem;
  max-width: 400px;
}

.flex-container-articulo1 h1 {
  text-align: center;
  color: hsl(234, 29%, 20%);
  font-weight: 700;
  font-size: 3rem;
  margin: 1rem 2rem;
  line-height: 95%;
}

.flex-container-articulo1 p {
  list-style: none;
  margin: 1.5rem 2rem 0.5rem;
}

.flex-container-articulo1 li {
  margin-left: 2.5rem;
  margin-bottom: 0.8rem;
  list-style-type: none;
  padding-left: 0;
  width: 80%;
}

.flex-container-articulo1 ul li img {
  margin-right: 0.5rem;
}

.email-error {
  font-size: 0.9rem;
  font-weight: 700;
}

.email-error #email {
  color: hsl(234, 29%, 20%);
  float: left;
}

.email-error .error {
  color: red;
  float: right;
  visibility: hidden;
}

.email-error input {
  width: 80%;
}

#email {
  margin: 0.2rem 2rem 1rem;
  padding: 1rem;
  border-radius: 7px;
}

.subscribe {
  margin: 0.2rem 2rem 1rem;
  padding: 1rem;
  border-radius: 7px;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  width: 80%;
}

.subscribe:hover {
  background-color: hsl(4, 100%, 67%);
  cursor: pointer;
}

.thanks-message {
  position: absolute;
  top: 25%;
  left: 40%;
  max-width: 280px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 10px;
  color: hsl(234, 29%, 20%);
  visibility: hidden;
}

.thanks-message .confirmation {
  font-size: 1rem;
}

.thanks-message .dismiss {
  padding: 1rem;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  width: 100%;
  font-weight: 700;
  border-radius: 7px;
}

.thanks-message .dismiss:hover {
  background-color: hsl(4, 100%, 67%);
  cursor: pointer;
}

@media (min-width: 40rem) {
  body {
    background-color: hsl(235, 18%, 26%);
    padding: 8rem 10rem;
  }
  .thanks-message {
    left: 10%;
  }
  .thanks-message .dismiss {
    margin-top: 70px;
  }
  .container {
    visibility: visible;
    padding: 3rem 8rem;
    margin: 2rem auto;
  }
  .flex-container-articulo1 h1 {
    text-align: start;
  }
  .flex-container {
    flex-direction: row-reverse;
    width: 100%;
  }
  .flex-container-img {
    border-radius: 15px;
    margin: 1rem 3rem 1rem 0;
  }
  .flex-container-articulo1 {
    gap: 2rem;
    width: 100%;
  }
}
