@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Outfit:wght@700&family=PT+Sans&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Outfit:wght@700&family=PT+Sans&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: hsl(231, 7%, 60%);
  font-size: 1rem;
}
.container {
  display: block;
  height: 100vh;
  width: 100%;
}
.flex-container {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
}

.flex-container .flex-container-img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flex-container-ariculo1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  gap: 1.9rem;
  /* padding-block: 2rem;
  margin-left: 1.5rem; */
  max-width: 400px;
}
.flex-container-articulo1 h1 {
  display: flex;
  flex-direction: column;

  color: hsl(234, 29%, 20%);
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}
.flex-container-articulo1 ul {
  list-style: none;
  margin: 0;
}
.flex-container-articulo1 ul li {
  /* margin-left: 40px; */
  margin-bottom: 0.8rem;
}
.flex-container-articulo1 ul li img {
  margin-right: 0.5rem;
}
.flex-container-articulo1 .email-error {
  font-size: 1rem;
  font-weight: 700;
}
.flex-container-articulo1 .email-error .email {
  color: hsl(234, 29%, 20%);
  float: left;
}
.flex-container-articulo1 .email-error .error {
  color: red;
  float: right;
  visibility: hidden;
}
.flex-container-articulo1 #email {
  margin-top: 1rem;
  padding: 1rem;
}
.flex-container-articulo1 .subscribe {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 7px;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}
.flex-container-articulo1 .subscribe:hover {
  background-color: hsl(4, 100%, 67%);
  cursor: pointer;
}

.flex-container-img {
}
.thanks-message {
  position: absolute;
  top: 25%;
  left: 40%;
  max-width: 280px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 10px;
  color: hsl(234, 29%, 20%);
  visibility: hidden;
}
.thanks-message .confirmation {
  font-size: 1rem;
}
.thanks-message .dismiss {
  padding: 1rem;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  width: 100%;
  font-weight: 700;
  border-radius: 7px;
}
.thanks-message .dismiss:hover {
  background-color: hsl(4, 100%, 67%);
  cursor: pointer;
}

@media (min-width: 40rem) {
  body {
    background-color: hsl(235, 18%, 26%);
  }
  /* .thanks-message {
    left: 10%;
  } */
  /* .thanks-message .dismiss {
    margin-top: 70px;
  } */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    padding: 1rem 3rem;
    margin: 2rem auto;
    width: 100%;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    padding: 4rem;
    gap: 6rem;
    width: 80%;
  }
  .flex-container-articulo1 {
    gap: 2rem;
    /* width: 100%; */
  }
}
