* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Outfit:wght@700&family=PT+Sans&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Outfit:wght@700&family=PT+Sans&family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: hsl(235, 18%, 26%);
  color: hsl(231, 7%, 60%);
  font-size: 16px;
}
body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  visibility: visible;
}
body .container .flex-container {
  border-radius: 15px;
  box-shadow: 10px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  gap: 60px;
  padding: 20px;
}
body .container .flex-container-ariculo1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-block: 40px;
  margin-left: 20px;
  max-width: 400px;
}
body .container .flex-container-articulo1 h1 {
  color: hsl(234, 29%, 20%);
  font-weight: 700;
  font-size: 60px;
  margin: 0;
}
body .container .flex-container-articulo1 ul {
  list-style: none;
  margin: 0px;
}
body .container .flex-container-articulo1 ul li {
  margin-left: -40px;
  margin-bottom: 10px;
}
body .container .flex-container-articulo1 ul li img {
  margin-right: 20px;
}
body .container .flex-container-articulo1 .email-error {
  font-size: 15px;
  font-weight: 700;
}
body .container .flex-container-articulo1 .email-error .email {
  color: hsl(234, 29%, 20%);
  float: left;
}
body .container .flex-container-articulo1 .email-error .error {
  color: red;
  float: right;
  visibility: hidden;
}
body .container .flex-container-articulo1 #email {
  padding: 15px;
}
body .container .flex-container-articulo1 .subscribe {
  padding: 15px;
  border-radius: 7px;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}
body .container .flex-container-articulo1 .subscribe:hover {
  background-color: hsl(4, 100%, 67%);
  cursor: pointer;
}
body .thanks-message {
  position: absolute;
  top: 25%;
  left: 40%;
  max-width: 280px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 10px;
  color: hsl(234, 29%, 20%);
  visibility: hidden;
}
body .thanks-message .confirmation {
  font-size: 13px;
}
body .thanks-message .dismiss {
  padding: 15px;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  width: 100%;
  font-weight: 700;
  border-radius: 7px;
}
body .thanks-message .dismiss:hover {
  background-color: hsl(4, 100%, 67%);
  cursor: pointer;
}

@media only screen and (max-width: 675px) {
  body {
    background-color: white;
  }
  body .thanks-message {
    left: 10%;
  }
  body .thanks-message .dismiss {
    margin-top: 70px;
  }
  .container {
    height: 100vh !important;
    display: block !important;
  }
  .container .flex-container {
    border-radius: 0 !important;
    flex-direction: column;
    height: 100%;
    padding: 0% !important;
    gap: 20px !important;
  }
  .container .flex-container-articulo1 {
    gap: 25px !important;
    width: 100% !important;
    margin-left: 10% !important;
  }
}
